<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandking.mybatis.mapper.BbsEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.sandking.mybatis.pojo.BbsEmployee" >
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
  </resultMap>


  <!-- id:statement的id 或者叫做sql的id-->
  <!-- parameterType:声明输入参数的类型 -->
  <!-- resultType:声明输出结果的类型，应该填写pojo的全路径 -->
  <!-- #{}：输入参数的占位符，相当于jdbc的？ -->
  <select id="queryTest" parameterType="String"
          resultType="com.sandking.mybatis.pojo.BbsEmployee">
    SELECT * FROM `bbs_employee` WHERE username  = #{username}
  </select>

  <select id="query1" parameterType="String"
          resultType="com.sandking.mybatis.pojo.BbsEmployee">
    SELECT * FROM `bbs_employee` WHERE username LIKE #{username}
  </select>

  <select id="query2" parameterType="String"
          resultType="com.sandking.mybatis.pojo.BbsEmployee">
    SELECT * FROM `bbs_employee` WHERE username LIKE '%${value}%'
  </select>

  <insert id="insert" parameterType="com.sandking.mybatis.pojo.BbsEmployee">

    <!-- selectKey 标签实现主键返回 -->
    <!-- keyColumn:主键对应的表中的哪一列 -->
    <!-- keyProperty：主键对应的pojo中的哪一个属性 -->
    <!-- order：设置在执行insert语句前执行查询id的sql，孩纸在执行insert语句之后执行查询id的sql -->
    <!-- resultType：设置返回的id的类型 -->
    <selectKey keyColumn="id" keyProperty="id" order="AFTER"
               resultType="int">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `bbs_employee`
    (username,password) VALUES
    (#{username},#{password})

  </insert>

  <insert id="update" parameterType="com.sandking.mybatis.pojo.BbsEmployee">
    UPDATE  `bbs_employee` SET
    password = #{password} WHERE id = #{id}

  </insert>

  <delete id="delete" parameterType="int">
    DELETE FROM `bbs_employee` WHERE id = #{id}
  </delete>



</mapper>